.footer {
  width: 100%;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  padding: 0 15%;

  .container {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3em;

    .logo {
      width: 250px;
      max-width: 100%;
      height: auto;
    }

    .footer-menu {
      column-count: 2;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: block;
      }
    }
  }
}

@media screen and (max-width: 1264px) {
  .footer {
    padding: 0 10%;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 0 5%;
  }
}
