.card-navigation-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  transition: 0.3s ease-in-out;
}

.card-default-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 80px 0;
}

.content {
  margin-top: 100vh;
}
